In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/aac_shelter_outcomes.csv")
df.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [3]:
df.describe().T

                  count unique                     top   freq
age_upon_outcome  78248     46                  1 year  14355
animal_id         78256  70855                 A718223     11
animal_type       78256      5                     Dog  44242
breed             78256   2128  Domestic Shorthair Mix  23335
color             78256    525             Black/White   8153
date_of_birth     78256   5869     2014-05-05T00:00:00    112
datetime          78256  64361     2016-04-18T00:00:00     39
monthyear         78256  64361     2016-04-18T00:00:00     39
name              54370  14574                   Bella    344
outcome_subtype   35963     19                 Partner  19660
outcome_type      78244      9                Adoption  33112
sex_upon_outcome  78254      5           Neutered Male  27784

In [4]:
df.T.info

<bound method DataFrame.info of                                    0                    1      \
age_upon_outcome                 2 weeks               1 year
animal_id                        A684346              A666430
animal_type                          Cat                  Dog
breed             Domestic Shorthair Mix           Beagle Mix
color                       Orange Tabby          White/Brown
date_of_birth        2014-07-07T00:00:00  2012-11-06T00:00:00
datetime             2014-07-22T16:04:00  2013-11-07T11:47:00
monthyear            2014-07-22T16:04:00  2013-11-07T11:47:00
name                                 NaN                 Lucy
outcome_subtype                  Partner              Partner
outcome_type                    Transfer             Transfer
sex_upon_outcome             Intact Male        Spayed Female

                                2                        3      \
age_upon_outcome               1 year                  9 years
animal_id                     A675708                  A680386
animal_type                       Dog                      Dog
breed                        Pit Bull  Miniature Schnauzer Mix
color                      Blue/White                    White
date_of_birth     2013-03-31T00:00:00      2005-06-02T00:00:00
datetime          2014-06-03T14:20:00      2014-06-15T15:50:00
monthyear         2014-06-03T14:20:00      2014-06-15T15:50:00
name                          *Johnny                   Monday
outcome_subtype                   NaN                  Partner
outcome_type                 Adoption                 Transfer
sex_upon_outcome        Neutered Male            Neutered Male

                                4                    5      \
age_upon_outcome             5 months             4 months
animal_id                     A683115              A664462
animal_type                     Other                  Dog
breed                         Bat Mix       Leonberger Mix
color                           Brown          Brown/White
date_of_birth     2014-01-07T00:00:00  2013-06-03T00:00:00
datetime          2014-07-07T14:04:00  2013-10-07T13:06:00
monthyear         2014-07-07T14:04:00  2013-10-07T13:06:00
name                              NaN               *Edgar
outcome_subtype           Rabies Risk              Partner
outcome_type               Euthanasia             Transfer
sex_upon_outcome              Unknown          Intact Male

                                6                        7      \
age_upon_outcome               1 year                  3 years
animal_id                     A693700                  A692618
animal_type                     Other                      Dog
breed                    Squirrel Mix  Chihuahua Shorthair Mix
color                             Tan                    Brown
date_of_birth     2013-12-13T00:00:00      2011-11-23T00:00:00
datetime          2014-12-13T12:20:00      2014-12-08T15:55:00
monthyear         2014-12-13T12:20:00      2014-12-08T15:55:00
name                              NaN                    *Ella
outcome_subtype             Suffering                  Partner
outcome_type               Euthanasia                 Transfer
sex_upon_outcome              Unknown            Spayed Female

                                   8                       9      ...  \
age_upon_outcome                 1 month                3 months  ...
animal_id                        A685067                 A678580  ...
animal_type                          Cat                     Cat  ...
breed             Domestic Shorthair Mix  Domestic Shorthair Mix  ...
color                   Blue Tabby/White             White/Black  ...
date_of_birth        2014-06-16T00:00:00     2014-03-26T00:00:00  ...
datetime             2014-08-14T18:45:00     2014-06-29T17:45:00  ...
monthyear            2014-08-14T18:45:00     2014-06-29T17:45:00  ...
name                                Lucy                  *Frida  ...
outcome_subtype                      NaN                 Offsite  ...
outcome_type                    Adoption                Adoption  ...
sex_upon_outcome           Intact Female           Spayed Female  ...

                                    78246                78247  \
age_upon_outcome                  2 years              2 years
animal_id                         A738395              A761266
animal_type                           Dog                  Dog
breed             Chihuahua Shorthair Mix    Border Collie Mix
color                           Black/Tan          Black/White
date_of_birth         2015-11-14T00:00:00  2015-11-01T00:00:00
datetime              2018-02-01T18:23:00  2018-02-01T18:32:00
monthyear             2018-02-01T18:23:00  2018-02-01T18:32:00
name                                Maxie                Baily
outcome_subtype                       NaN                  NaN
outcome_type                     Adoption      Return to Owner
sex_upon_outcome            Neutered Male        Spayed Female

                                78248                78249  \
age_upon_outcome               1 year              2 years
animal_id                     A725872              A761265
animal_type                       Dog                  Dog
breed             German Shepherd Mix    Border Collie Mix
color                       Tan/Black           Black/Gray
date_of_birth     2016-02-03T00:00:00  2015-11-01T00:00:00
datetime          2018-02-01T18:20:00  2018-02-01T18:31:00
monthyear         2018-02-01T18:20:00  2018-02-01T18:31:00
name                             Lova                Lucas
outcome_subtype                   NaN                  NaN
outcome_type          Return to Owner      Return to Owner
sex_upon_outcome        Intact Female        Neutered Male

                                                78250  \
age_upon_outcome                              1 month
animal_id                                     A764895
animal_type                                       Dog
breed             Golden Retriever/Labrador Retriever
color                                     Brown/White
date_of_birth                     2017-12-04T00:00:00
datetime                          2018-02-01T18:40:00
monthyear                         2018-02-01T18:40:00
name                                              NaN
outcome_subtype                                Foster
outcome_type                                 Adoption
sex_upon_outcome                        Neutered Male

                                                78251                78252  \
age_upon_outcome                              1 month              3 years
animal_id                                     A764894              A764468
animal_type                                       Dog                  Dog
breed             Golden Retriever/Labrador Retriever          Mastiff Mix
color                                     Brown/White           Blue/White
date_of_birth                     2017-12-04T00:00:00  2014-12-30T00:00:00
datetime                          2018-02-01T18:26:00  2018-02-01T18:06:00
monthyear                         2018-02-01T18:26:00  2018-02-01T18:06:00
name                                              NaN                  Max
outcome_subtype                                Foster                  NaN
outcome_type                                 Adoption             Adoption
sex_upon_outcome                        Spayed Female        Neutered Male

                                78253                78254  \
age_upon_outcome                  NaN             2 months
animal_id                     A766098              A765858
animal_type                     Other                  Dog
breed                         Bat Mix   Standard Schnauzer
color                           Brown                  Red
date_of_birth     2017-02-01T00:00:00  2017-11-13T00:00:00
datetime          2018-02-01T18:08:00  2018-02-01T18:32:00
monthyear         2018-02-01T18:08:00  2018-02-01T18:32:00
name                              NaN                  NaN
outcome_subtype           Rabies Risk                  NaN
outcome_type               Euthanasia             Adoption
sex_upon_outcome              Unknown        Spayed Female

                                   78255
age_upon_outcome                2 months
animal_id                        A765857
animal_type                          Dog
breed             Labrador Retriever Mix
color                        White/Brown
date_of_birth        2017-11-13T00:00:00
datetime             2018-02-01T18:44:00
monthyear            2018-02-01T18:44:00
name                                 NaN
outcome_subtype                      NaN
outcome_type                    Adoption
sex_upon_outcome           Neutered Male

[12 rows x 78256 columns]>

In [5]:
import pandas_profiling as pp

In [6]:
# pip install pandas-profiling

In [12]:
df.date_of_birth = pd.to_datetime(df.date_of_birth)
df.datetime = pd.to_datetime(df.datetime)
df.monthyear = pd.to_datetime(df.monthyear)

In [13]:
pp.ProfileReport(df)

C:\Users\Gorelov\Anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:126: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'The internally computed table of expected frequencies has a zero element at (0, 2).')
  correlation_name=correlation_name, error=error

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [8]:
df.outcome_subtype.unique()

array(['Partner', nan, 'Rabies Risk', 'Suffering', 'Offsite', 'Foster',
       'SCRP', 'In Kennel', 'Aggressive', 'Medical', 'Behavior', 'At Vet',
       'In Foster', 'Enroute', 'In Surgery', 'Possible Theft',
       'Court/Investigation', 'Barn', 'Snr', 'Underage'], dtype=object)

In [9]:
df.outcome_type.unique()

array(['Transfer', 'Adoption', 'Euthanasia', 'Return to Owner', 'Died',
       'Disposal', 'Relocate', 'Missing', nan, 'Rto-Adopt'], dtype=object)

In [20]:
df[df.outcome_type.isna() == True]

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
10753,1 year,A671017,Other,Fox Mix,Brown/Black,2013-01-17,2014-01-20 08:27:00,2014-01-20 08:27:00,NaN,NaN,NaN,Unknown
13270,0 years,A674209,Other,Bat Mix,Brown,2014-03-09,2014-03-09 18:15:00,2014-03-09 18:15:00,NaN,NaN,NaN,Unknown
13302,4 weeks,A679066,Other,Rabbit Sh,Brown,2014-04-16,2014-05-16 00:00:00,2014-05-16 00:00:00,NaN,NaN,NaN,Unknown
16951,1 year,A686025,Other,Bat Mix,Brown,2013-08-15,2014-08-16 08:35:00,2014-08-16 08:35:00,NaN,NaN,NaN,Unknown
29214,1 year,A744013,Other,Bat Mix,Black,2016-02-21,2017-02-24 09:00:00,2017-02-24 09:00:00,NaN,NaN,NaN,Unknown
64626,1 month,A755711,Cat,Domestic Shorthair Mix,Black,2017-07-06,2017-08-21 10:09:00,2017-08-21 10:09:00,*Dewey,NaN,NaN,Intact Male
68246,NaN,A737705,Dog,Labrador Retriever Mix,Black/White,2013-11-02,2016-11-19 16:35:00,2016-11-19 16:35:00,*Heddy,NaN,NaN,NaN
69847,1 month,A755715,Cat,Domestic Shorthair Mix,Black Smoke,2017-06-29,2017-08-21 10:09:00,2017-08-21 10:09:00,*Louie,NaN,NaN,Intact Female
72037,1 month,A755716,Cat,Domestic Shorthair Mix,Blue,2017-07-06,2017-08-21 10:09:00,2017-08-21 10:09:00,*Huey,NaN,NaN,Intact Female
76709,10 years,A718046,Dog,Chihuahua Longhair Mix,Cream,2005-12-20,2016-03-26 00:00:00,2016-03-26 00:00:00,Bailey,NaN,NaN,Neutered Male
76710,10 months,A737930,Dog,Pit Bull Mix,Fawn/White,2016-01-08,2016-11-17 10:59:00,2016-11-17 10:59:00,King,NaN,NaN,Intact Male
76825,NaN,A764319,Dog,Pit Bull Mix,Black/White,2016-12-27,2017-12-30 16:47:00,2017-12-30 16:47:00,*Emma,NaN,NaN,Intact Female

In [15]:
import numpy as np

In [21]:
df.age_upon_outcome.unique()

array(['2 weeks', '1 year', '9 years', '5 months', '4 months', '3 years',
       '1 month', '3 months', '2 years', '2 months', '4 years', '8 years',
       '3 weeks', '8 months', '12 years', '7 years', '5 years', '6 years',
       '5 days', '10 months', '4 weeks', '10 years', '2 days', '6 months',
       '14 years', '11 months', '15 years', '7 months', '13 years',
       '11 years', '16 years', '9 months', '3 days', '6 days', '4 days',
       '5 weeks', '1 week', '1 day', '1 weeks', '0 years', '17 years',
       '20 years', '18 years', '19 years', '22 years', '25 years', nan],
      dtype=object)

In [22]:
df[df.age_upon_outcome.isna() == True]

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
68246,NaN,A737705,Dog,Labrador Retriever Mix,Black/White,2013-11-02,2016-11-19 16:35:00,2016-11-19 16:35:00,*Heddy,NaN,NaN,NaN
76825,NaN,A764319,Dog,Pit Bull Mix,Black/White,2016-12-27,2017-12-30 16:47:00,2017-12-30 16:47:00,*Emma,NaN,NaN,Intact Female
77976,NaN,A765547,Bird,Leghorn Mix,White/Red,2017-01-22,2018-01-25 13:23:00,2018-01-25 13:23:00,NaN,Partner,Transfer,Intact Female
78081,NaN,A765899,Dog,Miniature Poodle Mix,Black,2011-01-29,2018-01-29 15:49:00,2018-01-29 15:49:00,NaN,Suffering,Euthanasia,Neutered Male
78114,NaN,A765914,Cat,Domestic Shorthair Mix,Lynx Point,2017-01-29,2018-01-29 18:08:00,2018-01-29 18:08:00,NaN,Suffering,Euthanasia,Intact Male
78162,NaN,A765901,Dog,Maltese Mix,Buff,2017-01-29,2018-01-31 08:14:00,2018-01-31 08:14:00,NaN,Partner,Transfer,Intact Male
78208,NaN,A765960,Dog,Beagle/Catahoula,Tan/White,2010-02-01,2018-02-01 09:21:00,2018-02-01 09:21:00,NaN,Suffering,Euthanasia,Intact Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01,2018-02-01 18:08:00,2018-02-01 18:08:00,NaN,Rabies Risk,Euthanasia,Unknown

In [ ]:
def age_to_days(age_str):
    age_str.split("")